.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px auto;
  max-width: 1200px;
  width: 100%;
}
.logo {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
}
