.card {
  margin: auto;
  position: relative;
  height: 100%;
}
.product-name {
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 10px;
}
.product-text {
}

.menu-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  color: black;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.card > img {
  height: 200px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}
