<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
  <p>Loading...</p>
</div>

<div class="error" *ngIf="error">
  {{ error }}
  <h3 class="h2">Please make sure your json server is running</h3>
  <code>json-server --watch db.json</code>
  <p>Error occurred while fetching products.</p>
</div>

<div class="" *ngIf="!isLoading && !error">
  <section class="results">
    <app-products-lists
      *ngFor="let product of productList"
      [product]="product"
      (deleteProductEvent)="deleteProduct($event)"
    ></app-products-lists>
  </section>
</div>
